body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f0f1a;
    color: #f1f1f1;
    text-align: center;
}


.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #1f1f3a, #0f0f1a);
}


h1 {
    font-size: 48px;
    color: #d8b4fe; 
}

p {
    color: #a5b4fc; 
}


button {
    padding: 12px 24px;
    border: none;
    background: #f9a8d4; 
    color: #0f0f1a;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background: #f472b6;
}


@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }
}
